body {
	background: hsl(27, 66%, 92%);
	display: grid;
	justify-content: center;
	align-content: center;
	height: 100vh;
	font-family: 'Kanit', sans-serif;
	margin: 0;
}
.container {
	position: relative;
	height: 450px;
	min-width: 450px;
	background: hsl(33, 100%, 98%);
	border-radius: 30px;
	display: grid;
	justify-items: center;
	border: 2px solid #f4dfc9;
	box-shadow: 0 0 30px #ebc69e;
}
.header {
	font-size: 30px;
	color: hsl(10, 79%, 65%);
}
.lines {
	height: 90px;
}
.inputs {
	position: relative;
	height: 40px;
	width: 250px;
	background: transparent;
	border: 2px solid hsl(10, 79%, 65%);
	transition: all .2s;
	padding-inline: 5px;
	border-radius: 5px;
	z-index: 10;
	color: hsl(33, 100%, 98%);
}
.place-holder {
	transform: translateY(-50px) translateX(15px);
	transition: all .2s;
	z-index: 1;
}
.inputs:valid,
.inputs:focus {
	outline: none;
	background: hsl(10, 79%, 65%);
	border: 2px solid hsl(10, 79%, 65%);
}
.inputs:valid + .place-holder,
.inputs:focus + .place-holder {
	transform: translateY(-80px) translateX(5px);
	font-size: 15px;
}
.btn-confirm {
	min-width: 130px;
	min-height: 40px;
	background: transparent;
	border: 2px solid hsl(10, 79%, 65%);
	cursor: pointer;
	font-size: 20px;
	font-weight: 700;
	transition: all .1s;
}
.login {
	display: none;
}
.change {
	cursor: pointer;
}
.show {
	position: absolute;
	bottom: 200px;
	left:325px;
	height: 15px;
	width: 15px;
	background: hsl(10, 79%, 65%);
	border:0;
	border-radius: 50vw;
	cursor: pointer;
	z-index: 100;
}
.password-input:valid ~ .show,
.password-input:focus ~ .show {
	background-color: hsl(33, 100%, 98%);
}
@media(max-width: 600px){
	.container{
		min-width: 350px;
	}
	.header{
		font-size: 25px;
	}
	.show {
		left:275px;
		bottom:210px;
	}
}